@media (max-width:1390px){
    .main{
        grid-template-columns: 1fr 1fr;
    }

    .main .texto{
            padding-top: 0;
        }

    .main .titulo{
        font-size: 4rem;
    }

}

@media (max-width:960px){
    .main .image{
        min-width: 250px;
    }

    .main .titulo{
        font-size: 3rem;
    }

    .main p{
        font-size: 1.6rem;
    }
}

@media (max-width:620px){
    body{
        background-color: var(--dark-color);
    }

    .main{
        width: 85%;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-columns: 2fr  ;
    }

    .main .texto{
        padding: 0;
    }

    .footer{
        justify-content: center;
    }
}

@media (max-width:420px){
    .header .logo{
        padding: 30px;
        width: 140px;
    }

    .main .titulo{
        font-size: 2.5rem;
        margin-top: 60px;
    }

    .texto p{
        font-size: 1.7rem;
    }

    .main .btn{
        font-size: 1.4rem;
        padding: 15px 80px;
    }

    .footer ul{
        gap: 10px;
    }

    .footer a{
        font-size: 1.6rem;
        width: 30px;
        height: 30px;
        border: 1px solid;
    }

}

@media (max-width:375px){
    body{
        background: url(../images/bg-mobile.svg) no-repeat;
        background-color: var(--dark-color);
    }
}

