@media (max-width:1080px){
    html{
        font-size: 50%;
    }
    
    body{
        height: 100vh;
    }

    .main{
        padding: 0 30px;
        grid-gap: 20px;
    }

}

@media (max-width:875px){
    html{
        font-size: 40%;
    }
}

@media (max-width:700px){
    .main .texto .titulo{
        font-size: 3.5rem;
    }
}

@media (max-width:560px){
    body{
        background: url(../images/bg-mobile.svg) no-repeat center;
        background-size: cover;
        background-color: var(--dark-color);
    }

    .header img{
        width: 150px;
        margin: 20px 50px;
    }

    .main{
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }

    .main .texto .btn{
        align-self: center;
        
    }

    .footer ul{
        justify-content: center;
    }
}

/* @media (max-width:620px){
    body{
        background-color: var(--dark-color);
    }

    .main{
        width: 85%;
        text-align: center;
        grid-template-columns: 1fr;
        grid-template-columns: 2fr  ;
    }

    .main .texto{
        padding: 0;
    }

    .footer{
        justify-content: center;
    }
}

@media (max-width:420px){
    .header .logo{
        padding: 30px;
        width: 140px;
    }

    .main .titulo{
        font-size: 2.5rem;
        margin-top: 60px;
    }

    .texto p{
        font-size: 1.7rem;
    }

    .main .btn{
        font-size: 1.4rem;
        padding: 15px 80px;
    }

    .footer ul{
        gap: 10px;
    }

    .footer a{
        font-size: 1.6rem;
        width: 30px;
        height: 30px;
        border: 1px solid;
    }

}

@media (max-width:375px){
    body{
        background: url(../images/bg-mobile.svg) no-repeat;
        background-color: var(--dark-color);
    }
}
 */
