html{
    font-size: 62.5%;
    font-family: 'open sans', sans-serif;
    color: #fff;
}

body{
    display: grid;
    grid-template-rows: 112px repeat(2, auto);
    height: 100vh;
    background: url(../images/bg-desktop.svg) no-repeat;
    background-color: var(--dark-color);
}

.header img{
    width: 200px;
    margin: 30px 70px;
}

.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px;
    grid-gap: 60px;
}

.main .image{
display: flex;
align-items: center;
justify-content: center;
}

.main .image img{
    width: 100%;
}

.main .texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main .texto .titulo{
    font-family: poppins;
    font-size: 5rem;
    font-weight: 600;
}

.main .texto p{
    font-size: 2rem;
}

.main .texto .btn{
    color: var(--dark-color);
    background-color: #fff;
    border-radius: 30px;
    padding: 18px 70px;
    margin: 3rem 0;
    font-size: 1.8rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.611);
    transition: 0.3s ease-in-out;
}

.main .texto .btn:hover{
    background-color: var(--soft-color);
    color: #fff;
    cursor: pointer;
}

.footer ul{
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    margin-right: 30px;
}

.footer ul li a{
    color: #fff;
    font-size: 2rem;
    margin: 15px;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover{
    color: hsl(300, 56%, 58%);
    border: 2px solid hsl(300, 56%, 58%);
}